body {
  background-color: #f3e5d8;
  font-family: "Bodoni Moda", serif;
}

img {
  width: 100px;
  border-radius: 50px;
}

.pastry-chef-heading {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
  text-align: center;
}

a {
  color: #ea8f84;
}

.container {
  margin: 60px auto;
  max-width: 800px;
}
header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
  text-align: center;
  margin-top: 0;
}

h2 {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 45px;
}

.form-container {
  padding: 30px 30px 20px 30px;
  background-color: #fdfaf9;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 30px;
}

form {
  display: flex;
}
.example {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 13px;
  opacity: 0.7;
}

em {
  color: #ea8f84;
  font-weight: 200;
  display: block;
}

.prompt {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background-color: #edb8b2;
  border: none;
  color: white;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.recipe {
  font-size: 16px;
  background-color: #fdfaf9;
  padding: 20px;
  line-height: 24px;
  border-left: 5px solid #edb8b2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;
}

.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}
